.app-header {
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  h1 {
    font-weight: 600;
    margin-bottom: 0;
  }
  .profile {
    font-size: 2em;
    margin-top: 20px;
    margin-left: auto;
    order: 2;
  }
}

.sub-title {
  margin: 0;
}

.network-info {
  padding: 16px;
  padding-bottom: 0;
  .sync{
      
  }
  .status{
      &.online {
          color: #00cc00
      }
      &.offline {
          color: #cc0000
      }
  }
}

.no-card {
  ion-card-content {
    padding: 0.8rem;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
}

ion-footer {
  padding: 0 7rem;
}